
.container{
    width: 80%;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    padding-bottom: 25px;
     background-image: url(./images/istockphoto-178895760-2048x2048-transformed.-flou2.png);
    opacity: 50px;
    /* display: flex;
    flex-wrap: wrap; */
}


header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 50px;
    rotate: 2deg;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 10px;
    color: black;

}


nav{
    margin: auto;
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav button {
    margin: auto;
    margin-top: 15px;
    width: 70px;
    height: 45px;
    background: rgba(90, 100, 160, 0.082);
    background-image: linear-gradient(to right bottom, #d16ba57c, #c777b87e, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    color: rgb(11, 11, 71);
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Caprasimo', cursive;

}



#inactif{
    background-color: #84A7A1;
    border: 2px solid black;
    color: #0E2954;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}
 .card{
    margin: 15px;
    border: 2px solid black;
    border-radius: 25px;
 
}

.card-text{
    text-align: center;
    font-family: 'Caprasimo', cursive;
    color: rgb(34, 36, 36);

}

.center{
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;

}

span{
    color: rgb(135, 18, 18);
}

.line{
    width: 80%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.btn{
    border-radius: 5px;
    background-color: #84A7A1;
    border: 2px solid black;
    color: #0E2954;
    margin-bottom: 10px;
    font-family: 'Caprasimo', cursive;
}


.none{
    width: 55%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: none;
    border: 2px solid black;
    background: rgba(90, 100, 160, 0.082);
    background-image: linear-gradient(to right bottom, #d16ba57c, #c777b87e, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-radius: 25px;
}

.aside{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

button{
    margin: auto;
    margin-top: 15px;
    width: 70px;
    height: 45px;
    background: rgba(90, 100, 160, 0.082);
    background-image: linear-gradient(to right bottom, #d16ba57c, #c777b87e, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    color: rgb(11, 11, 71);
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Caprasimo', cursive;
}

.disabled{
    opacity: 50%;
}

.none.active{
display: flex;
}

.nombre{
    margin: auto;
    width: 60px;
    height: 35px;
    border: 2px solid black;
    border-radius: 15px;
    font-family: 'Caprasimo', cursive;
    font-size: 20px;
}


@media screen and (max-width: 900px) { 
    .container{
        width: 90%;
    }

    .none{
        width: 70%;
    }
}


@media screen and (max-width: 650px) { 
    header h1 {
        font-size: 35px;
    }
}



@media screen and (max-width: 420px) { 
    header h1 {
        font-size: 25px;
    }
    nav{
        width: 75%;
        flex-wrap: wrap;
        column-gap: 8px;
    }
    .none{
        width: 90%;
    }
    .aside{
        margin-left: 10px;
    }
}
