
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.block{
    width: 350px;
    border: 1px solid black;
}

.block p{
    text-align: center;
}

.card{
    border: 1px solid black;
}

.card-text{
    text-align: center;
}

.center{
    text-align: center;
}

.line{
    width: 80%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin: auto;
}